<section class="section">
    <div class="container">
        <div class="columns is-5 is-centered">
            <h1 class="title is-6"></h1>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                    <label class="label" for="">
                        <span class="has-icons-left ">
                            <i class="icon fas fa-user is-icon-left"></i>
                        </span>
                        Email</label>
                    <div class="control">
                        <%= f.input :email,
                         required: true,
                         wrapper: false,
                         placeholder: "example@email.com",
                         autofocus: true,
                         input_html: {class:"input"},
                     label: false%>
                </div>
            </div>
            <div class="field">
                    <label class="label" for="">
                        <span class="has-icons-left ">
                            <i class="icon fas fa-lock is-icon-right"></i>
                        </span>
                        Password</label>
                <div class="control">
                  <%= f.input :password,
                       required: true,
                       input_html: {class:"input"},
                   label: false,
                   wrapper: false,
                   placeholder: "************",
                   autocomplete: "current_password"
                  %>
                </div>
            </div>
              <%= f.button :submit, "Login", class: "button is-fullwidth is-link" %>
        <% end %>
        </div>
    </div>
</section>
