<h1 class="title is-centered">Editing post</h1>

<div class="container">
  <%= render "form", post: @post %>
</div>
<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
