<p style="color: green"><%= notice %></p>

<h1 class="title">Posts</h1>

<div class="container" id="posts">
  <% @posts.each do |post| %>
    <div class="card level">
      <div class="card-header">
        <p class="card-header-title">
          <%= link_to post.title, post %>
        </p>
      </div>
      <div class="card-footer">
        <p class="card-footer-item">
          Posted by u/<%= post.user.username %>
        </p>
      </div>
    </div>
  <% end %>
</div>

