<h1 class="title">Submit a post!</h1>
<%= render "form", post: @post %>
<div>
  <span class="icons is-left">
    <i class="fas fa-arrow-left-from-line"></i>
  </span>
  <%= link_to "Back to posts", posts_path, class: "button" %>
</div>
